dist/
node_modules/

src/Apps/

src/Data/Windows Terminal/elevated-state.json
src/Data/Windows Terminal/state.json

src/Data/clink/clink.log
src/Data/clink/clink_error*
src/Data/clink/clink_history*
src/Data/clink/starship.lua*

